.grid-item {
  &__image-wrapper {
    box-shadow: 0px 2px 7px -2px rgb(0 0 0 / 54%);
    border-radius: 6px;
    position: relative;
    width: 234px;
    height: 164px;
    overflow: hidden;
    transition: 0.3s ease transform, 0.35s ease box-shadow;

    @media only screen and (min-width: 768px) {
      width: 400px;
      height: 280px;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 2px 37px -2px rgb(0 0 0 / 64%);
    }
  }

  &__link {
    color: black;
    text-decoration: none;
  }
  
  &__image {
    object-fit: contain;
    position: absolute;
    width: 100%;
    height: auto;
  }

  &__title {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 8px;
  }
}