.header {
  position: sticky;
  top: 0;
  background-color: rgb(45, 46, 44);
  height: 56px;
  z-index: 10;

  .image-wrapper {
    height: inherit;
    display: flex;
    align-items: center;
  }

  &__logo {
    display: block;
    height: inherit;
    height: 40px;
  }
}